html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
   padding: 0;
}

header {
  padding: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #232b23;
  height: 80px;
}

li {
	font-size: 18px;
  float: right;
  display: flex;
  align-items: center;
  height: 80px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}

li a:hover {
  transition-duration: .5s;
  font-weight: 600;
  border-bottom: 1px solid white;
}

#team_header {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 60px;
	color:rgb(104, 3, 3)
}

footer {
		display: block;
		position: absolute;
		bottom: 0;
		margin: auto;
		margin-left: 10px;
		width: 100%;
		text-align: center;
		height: 20%;
		color: white;
		font-size: 16px;
  }


.footer-item-container {
  width: 25%;
  text-align: left;
}

.contact-name-item {
  font-weight: 500;
}
.content-container{
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  min-height: 450px;
}

.content{
  width: 80%;
  margin-left:10%;
}
.content-header{
  width: 100%;
}
.content-body{
  width: 100%;
}


#content-header-info {
  font-size: 36px;
  color: darkviolet;
  font-weight: 900;
  margin-top: 100px;
  text-align: center;
}

#content-info{
  font-size: 36px;
  color: blueviolet;
  font-weight: 900;
  margin-top: 70px;
  text-align: center;
}


.shortcut-item{
  text-decoration: none;
  color: white;
}


.team-member-row{
  display: flex;
}

.team-member{
  width: 50%;
  border: 2px solid black;
  border-radius:5px;
  height: 250px;
  margin: 10px;
}

.team-member-photo {
  width: 35%;
  border-right: 1px solid black;
  border-radius: 6px;
  float: left;
  height: 80%;
}

.team-member-info {
  text-align:justify;
  padding: 5px;
  float: right;
  width: 63%;
}

